<!--
<app-header></app-header>
Componente Counter
<app-counter name="1"></app-counter>
Reutilização do Componente
<app-counter name="2"></app-counter>
<hr />
Componente Somador
<app-adder n1="9" n2="14"></app-adder>
-->

<!--Tarefa-->
<app-ana-header></app-ana-header>
<br />
<app-ana-timer></app-ana-timer>
<br />
<app-ana-simple-interests></app-ana-simple-interests>
<br />
<app-ana-compound-interests></app-ana-compound-interests>
<br />
<app-ana-random-numbers></app-ana-random-numbers>
<br />

<!--Tarefa 1 - Revisão-->
<app-revisao></app-revisao>

<!--Tarefa 2 - Revisão-->
<app-revisao-2></app-revisao-2>
